# Model checkpoints
checkpoints/
checkpoints_*/
*.pth
*.pt
*.pth.tar
*.ckpt

# Datasets
data/
data_final/

# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
